# File format: <field>=<value>

# ALARM TIMES
ALARM_1=12:51:00
ALARM_2=12:51:10
ALARM_3=12:51:20
ALARM_4=12:51:30
ALARM_5=12:51:40
ALARM_6=12:51:50
ALARM_7=12:52:00
ALARM_8=12:52:10
ALARM_9=12:52:20
ALARM_10=12:52:30
ALARM_11=12:52:40
ALARM_12=12:52:50
ALARM_13=12:53:00
ALARM_14=12:53:10
ALARM_15=12:53:20
ALARM_16=12:53:30
ALARM_17=12:53:40
ALARM_18=12:53:50
ALARM_19=12:54:00
ALARM_20=12:54:10
ALARM_21=12:54:20
ALARM_22=12:54:30
ALARM_23=12:54:40
ALARM_24=12:54:50
# FILE BASES
ALARM_1_FILE_BASE=SDTEST1
ALARM_2_FILE_BASE=SDTEST2
ALARM_3_FILE_BASE=SDTEST3
ALARM_4_FILE_BASE=SDTEST4
ALARM_5_FILE_BASE=SDTEST1
ALARM_6_FILE_BASE=SDTEST2
ALARM_7_FILE_BASE=SDTEST3
ALARM_8_FILE_BASE=SDTEST4
ALARM_9_FILE_BASE=SDTEST1
ALARM_10_FILE_BASE=SDTEST2
ALARM_11_FILE_BASE=SDTEST3
ALARM_12_FILE_BASE=SDTEST4
ALARM_13_FILE_BASE=SDTEST1
ALARM_14_FILE_BASE=SDTEST2
ALARM_15_FILE_BASE=SDTEST3
ALARM_16_FILE_BASE=SDTEST4
ALARM_17_FILE_BASE=SDTEST1
ALARM_18_FILE_BASE=SDTEST2
ALARM_19_FILE_BASE=SDTEST3
ALARM_20_FILE_BASE=SDTEST4
ALARM_21_FILE_BASE=SDTEST1
ALARM_22_FILE_BASE=SDTEST2
ALARM_23_FILE_BASE=SDTEST3
ALARM_24_FILE_BASE=SDTEST4
# OTHER
SAMPLE_LOCATION=PD1
BAUDE_RATE=115200
# Wake Time
startH=12;
startM=50;
startS=0;
# Play Time (first alarm) [18:0:0 for real]
playH=12;
playM=51;
playS=0;
# Sleep Time
stopH=12;
stopM=56;
stopS=0;