# note, this file is not used. It is just here for reference
# File format: <field>=<value> NO SPACES
# ALARM TIMES
ALARM_1=00:30:00
ALARM_2=01:30:00
ALARM_3=02:30:00
ALARM_4=03:30:00
ALARM_5=04:30:00
ALARM_6=05:30:00
ALARM_7=06:30:00
ALARM_8=07:30:00
ALARM_9=08:30:00
ALARM_10=09:30:00
ALARM_11=10:30:00
ALARM_12=11:30:00
ALARM_13=12:30:00
ALARM_14=13:30:00
ALARM_15=14:30:00
ALARM_16=15:30:00
ALARM_17=16:30:00
ALARM_18=17:30:00
ALARM_19=18:30:00
ALARM_20=19:30:00
ALARM_21=20:30:00
ALARM_22=21:30:00
ALARM_23=22:30:00
ALARM_24=23:30:00
# FILE BASES
ALARM_1_FILE_BASE=TKLN
ALARM_2_FILE_BASE=TKDN
ALARM_3_FILE_BASE=TKLN
ALARM_4_FILE_BASE=TKLN
ALARM_5_FILE_BASE=TKDN
ALARM_6_FILE_BASE=TKDN
ALARM_7_FILE_BASE=TKMN
ALARM_8_FILE_BASE=TKMN
ALARM_9_FILE_BASE=TKMN
ALARM_10_FILE_BASE=BACH
ALARM_11_FILE_BASE=TKMN
ALARM_12_FILE_BASE=TKMN
ALARM_13_FILE_BASE=TKAF
ALARM_14_FILE_BASE=TKAF
ALARM_15_FILE_BASE=BACH
ALARM_16_FILE_BASE=TKAF
ALARM_17_FILE_BASE=BACH
ALARM_18_FILE_BASE=TKAF
ALARM_19_FILE_BASE=TKDK
ALARM_20_FILE_BASE=TKDK
ALARM_21_FILE_BASE=TKEV
ALARM_22_FILE_BASE=TKEV
ALARM_23_FILE_BASE=TKEV
ALARM_24_FILE_BASE=TKEV
# Wake Time
WAKE_TIME=15:15:00
# Sleep Time
SLEEP_TIME=18:00:00
# OTHER
SAMPLE_LOCATION=TKP
BAUDE_RATE=115200
